<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoDados.Settings.stringConexao" connectionString="Data Source=NOTEBOOKBETO\SQLEXPRESS;Initial Catalog=ProgramacaoIV;Integraded Security=True" />
        <add name="AcessoDados.Properties.Settings.StringConexao" connectionString="Data Source=NOTEBOOKBETO\SQLEXPRESS;Initial Catalog=OrdemServico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>